@import "./reset.scss";

$main-color: #FF6060;
$grey-color: #F6F6F6;

//mobile-first

* {
    font-family:'Montserrat', Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    font-size: 14px; 
    font-weight: 500;

    &:hover {
        text-decoration: none;
    }
}

.title {
    font-size: 18px; 
    font-weight: 500;
    color: $main-color;
}

.main-container {
    box-sizing: border-box;
    padding: 20px;
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 20px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-head {
        width: 145px;
    }
 
    .navigation ul {
        display: flex;
        gap: 26px;

        .active {
            text-decoration: underline;
        } 

        a {
            color: black;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    
}

.footer {
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 209px;
    flex-direction: column;
    margin-top: auto;

    .logo-footer {
        filter:brightness(0) invert(1);
    }
}

// page
.error404 {
    text-align: center;
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 7rem; 
        font-weight: 700;
        color: $main-color;
    }
}

.logement-info {
    margin: 1rem 0;
    .logement-name {    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .logement-location {
            font-size: 14px;
        }
    }
    .logement-host {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
}

// components
.banner {
    background-size: cover;
    background-position: center;
    height: 111px;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .banner-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        padding: 30px;
        font-weight: 700;
        width: 100%;
    }
}

.card-anime {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease, transform 0.5s ease;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }
}

.logements-cards {
    display: flex;
    flex-wrap: wrap;
    gap:20px;

    a {
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .card {
        border-radius: 10px;
        overflow: hidden;
        height: 255px;
        position: relative;
        background-color: $main-color;
        
        img {
            object-fit: cover;
            transition: all .3s;   
        }

        .card-title {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 18px;
            font-weight: 700;
            text-shadow: 0px 1px 2px black;
            color: #fff;
            transition: bottom 1s;
        }

        &:hover .card-title {
            bottom: 50%;
        }

        &:hover > img {
            opacity: 0.2;
        }
    }
}

.person {
    display: flex;
    gap: 10px;
    line-height: 1.5;
    text-align: right;
    align-items: center;
    color: $main-color;
    font-size: 12px;

    img {
        height: 32px;
        border-radius: 100%;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0.5rem 0;
    li {
        background-color: $main-color;
        color: white;
        width: auto;
        min-width: 84px;
        height: 18px;
        font-size: 10px;
        border-radius: 10px;
        text-align: center;
        font-weight: 700;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.rating  {
    img {
        width: 18px;
    }
    .inactive {
        filter: grayscale(1) invert(1);
        opacity: 0.2;
    }
}

.collapse {
    margin-bottom: 15px;

    .collapse-title {
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        padding: 0px 10px;
        align-items: center;  
        
        h2 {
            color: #fff;
            font-weight: 700; 
            font-size: 13px;
        }
    }

    .collapse-content {
        overflow-y: hidden;
        max-height: 0px;
        transition: all .5s ease;
    }
    
    .collapse-info {
        background-color: $grey-color;
        border-radius: 0px 0px 5px 5px;
        transition: all .5s ease;
        overflow: hidden;
        padding: 20px;
        transform: translateY(-100%); 
        line-height: 1.4;
        font-size: 12px;   
    }

    .arrow { 
        width: 16px;
        margin: 8px;
        transition: all 0.5s;
        cursor: pointer;
    }

    &.isOpen {
        .collapse-content {
            max-height: 500px;
        }

        .collapse-info {
            transform: translateY(0);
        }
    
        .arrow {
            transform: rotate(-180deg);
        }
    }
}

.slideshow {

    .slide-container {
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        .slide-content {
            height: 255px;
            display: flex;
            transition: all .6s ease;
            position: relative;
            left: 0%;

            img {
                width: 100%;
                box-sizing: border-box;
                flex-shrink: 0;
                object-fit: cover;
            }
        }
        .nb-slide {
            position: absolute;
            width: 100%;
            bottom: 10px;
            color: white;
            text-align: center;
        }
        .prev-btn, .next-btn {
            opacity: 0.7;
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            display: grid;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            transition: all .4s ease;

            img {
                height: 24px;
            }

            &:hover {
                opacity: 1;
            }
        }
        .prev-btn {
            left:0px;
            img {
                transform: rotate(-90deg);
            } 
        }
        .next-btn {
            right:0px;
            img {
                transform: rotate(90deg);
            }
        }
    }
}


// desktop
@media (min-width: 800px) {

    a {
        font-size: 18px;
    }
    
    .title {
        font-size: 36px;
    }
    
    .error404 h1 {
        font-size: 17rem;
    }

    .header {
        .logo-head {
            width: 210px;
        }

        .navigation ul {
            a {
                font-size: 19px;
                text-transform: capitalize;
            }
        }
    }

    .footer {
        font-size: 24px;
        gap:20px;
    }

    .banner {
        height: 223px;
        border-radius: 25px;

        .banner-title {
            font-size: 48px;
            padding: 0;
            text-align: center;
        }
    }

    .logements-cards {
        gap: 40px;
        background-color: #f6f6f6;
        border-radius: 25px;
        padding: 50px;
        
        a {
            width: calc(33.33% - 27px);
        }
    
        .card {
            height: 340px;
        }
    }

    .slideshow .slide-container {
        border-radius: 25px;
        .slide-content {
            height: 415px;
        }
    
        .prev-btn, .next-btn {
            img {
                height: 70px;
            }
        }
    }

    .collapse {
        margin-bottom: 30px;

        .collapse-title {
            padding: 2px 20px;
            h2 {
                font-size: 24px;
            }
        }
    
        .collapse-info {
            font-size: 18px;
        }

        .arrow { 
            width: auto;
        }
    }

    .collapse-parent {
        display: grid;
        column-gap: 6%;
        grid-template-columns: 47% 47%;
    }

    .rating  {
        img {
            width: auto;
        }
    }

    .tags {
        li {
            min-width: 115px;
            height: 25px; 
            font-size: 14px; 
        }
    }

    .person {
        font-size: 18px;
        img {
            height: 64px;
        }
    }

    .logement-info {
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;

        .logement-host {
            align-items: flex-end;
            gap: 10px;
            flex-direction: column-reverse;
        }

        .logement-name .logement-location {
            font-size: 18px;
        }
    }

}
// tablette
@media (min-width: 800px) and (max-width: 1024px) {

    .title {
        font-size: 24px; 
    }

    .rating  {
        img {
            width: 29px;
        }
    }

    .logements-cards {
        
        a {
            width: calc(50% - 27px);
        }
    
        .card {
            height: 340px;
        }
    }
}

@media (max-width: 370px) {
    .header {

        .logo-head {
            width: 100px;
        }
     
        .navigation ul {
            gap: 15px;
        }
    }
}