@import "./reset.scss";

$main-color: #FF6060;
$grey-color: #F6F6F6;

* {
    font-family:'Montserrat', Geneva, Tahoma, sans-serif;
}

a {
    color: black;
    font-size: 14px; 
    font-weight: 500;

    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-size: 18px; 
    font-weight: 500;
    color: $main-color;
}

.error404 {
    text-align: center;
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 7rem; 
        font-weight: 700;
        color: $main-color;
    }
}

.main-container {
    box-sizing: border-box;
    padding: 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.container {
    margin: 20px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-head {
        width: 145px;
    }
 
    .navigation ul {
        display: flex;
        gap: 26px;

        .active {
            text-decoration: underline;
        } 

        a {
            color: black;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    
}

.footer {
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 209px;
    flex-direction: column;
}

.logo-footer {
    filter:brightness(0) invert(1);
}

// components

.banner {
    background-size: cover;
    background-position: center;
    height: 111px;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .banner-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px; //font-size: 48px;
        padding: 30px; //padding: 0
        font-weight: 700;
        width: 100%;
        //text-align: center;
    }
}

.logements-cards {
    display: flex;
    flex-wrap: wrap;
    gap:20px;

    a {
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .card {
        border-radius: 10px;
        overflow: hidden;
        height: 255px;//height: 340px;
        position: relative;
        background-color: $main-color;
        
        img {
            object-fit: cover;
            transition: all .3s;   
        }

        .card-title {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 18px;
            font-weight: 700;
            text-shadow: 0px 1px 2px black;
            color: #fff;
            transition: bottom 1s;
        }

        &:hover .card-title {
            bottom: 50%;
        }

        &:hover > img {
            opacity: 0.2;
            //filter: grayscale(80%) blur(2px);
        }
    }
}

.collapse {

    margin-bottom: 30px;

    .collapse-title {
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        padding: 0px 10px;//padding: 10px 20px;
        align-items: center;  
        
        h2 {
            color: #fff;
            font-weight: 700; 
            font-size: 13px;//font-size: 24px;
        }
    }

    .collapse-content {
        overflow-y: hidden;
        max-height: 0px;
        transition: all .5s ease;

        p { 
            line-height: 1.4;
            font-size: 12px; //font-size: 18px;
        }
    }
    
    .collapse-info {
        background-color: $grey-color;
        border-radius: 0px 0px 5px 5px;
        transition: all .5s ease;
        overflow: hidden;
        padding: 20px;
        transform: translateY(-100%);    
    }

    .arrow { 
        width: 16px; //mobile only
        margin: 8px; //mobile only
        transition: all 0.5s;
        cursor: pointer;
    }

    &.isOpen {
        .collapse-content {
            max-height: 500px;
        }

        .collapse-info {
            transform: translateY(0);
        }
    
        .arrow {
            transform: rotate(-180deg);
        }
    }
}


// desktop
@media (min-width: 768px) {

    a {
        font-size: 18px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    .error404 h1 {
        font-size: 17rem;
    }

    .header {
        .logo-head {
            width: 210px;
        }

        .navigation ul {
            a {
                font-size: 19px;
                text-transform: capitalize;
            }
        }
    }

    .footer {
        font-size: 24px;
        gap:20px;
    }

    .banner {
        height: 223px;
        border-radius: 25px;

        .banner-title {
            font-size: 48px;
            padding: 0;
            text-align: center;
        }
    }

    .logements-cards {
        gap: 40px;
        background-color: #f6f6f6;
        border-radius: 25px;
        padding: 50px;
        
        a {
            width: calc(33.33% - 27px);
        }
    
        .card {
            height: 340px;
        }
    }
}